h1{
    font-size: 55px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #8b2539;
}

h2 {
    position: relative;
    color: #e3e2df;
    margin-left: 60px;
    font-size: 40px;
    font-style: italic;
    font-family: "playfair display", sans-serif;
}

h3 {
    font-size: 30px;
    margin-left: 3%;
    color: #e3e2df;
}

.buildTitle {
    font-size: 24px;
}


#arrow {
    position: fixed;
    bottom: -200px;
    right: -75px;
    margin-right: 0.1%;
    max-width: 15%;
    animation: float 3s alternate-reverse infinite;
    z-index: 999;
}
.perkAddon {
    animation: float 3s alternate-reverse infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(10px);
    }

}

body {
    background-color: #e3e2df;
}

button {
    font-weight: bold;
    color: #e3e2df;
    border: 1px solid black;
    height: 4vh ;
    width: 10vh;
    border-radius: 5px;
    background-color: rgb(139, 0, 0);
}

#icon {
    display: inline;
    position: relative;
    left: 1.5%;
    max-width: 5%;
}

#family {
    max-width: 40%;
    float: right;
    margin-right: 8%;
    border:1px solid black;
    border-left:150px solid transparent;
    border-right:150px solid transparent;
}

#navmenu {
    border: 3px solid black;
    border-radius: 15px;
    background-color: #950740d0 ;
    color: #e3e2df;
    width: 20%;
    padding: 20px;
    margin: 15px;
    margin-left: 8%;
}

#nav {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #e3e2df;
    bottom: 10px;
    position: relative;
    margin-bottom: 10px;
    float: right;
    margin-right: 1%;
    margin-top: 3%;
}

.main {
    border: 3px solid black;
    border-radius: 15px;
    background-color: #950740d0;
    width: 96%;
    height: 70vh;
    padding: 15px;
    margin: 15px;
    margin-left: 2%;
    box-sizing: border-box;
}

.image {
    display: block;
    position: relative;
    max-width: 20%;
    left: 75%;
}

#plague {
    display: block;
    position: relative;
    max-width: 90%;
    left: 10%;
}

#nurse {
    display: block;
    position: relative;
    max-width: 20%;
    bottom: 40%;
    left: 75%;
}

#hag {
    display: block;
    position: relative;
    max-width: 80%;
    left: 20%;
}

#sadako {
    display: block;
    position: relative;
    max-width: 90%;
    left: 10%;
}

#nemesis {
    display: block;
    position: relative;
    max-width: 90%;
    left: 13%;
}

#booba {
    display: block;
    position: relative;
    width: 20%;
    left: 75%;
}

#billyPic {
    display: block;
    position: relative;
    width: 20%;
    left: 75%;
    bottom: 140px;
}

#trapper {
    display: block;
    position: relative;
    width: 50%;
    left: 50%;
    bottom: 53%;
}

#wraith {
    position: relative;
    width: 20%;
    left: 75%;
    margin-top: -14%;
}


/* Builds */

.buildOne {
    margin-left: 3%;
}

/* links */




a:link { 
    text-decoration: none; 
    color: #e3e2df;
}
    
a:visited {
    text-decoration: none;
    color: #e3e2df;
}

a:hover {
    text-decoration: none; 
    color: #e3e2df;
}

a:active { 
    text-decoration: none; 
    color: #e3e2df;
}




#dance {
    position: relative;
    margin-left: 50%;
}

/* device optimization */

@media (max-width: 1420px) {
    .image {
        position: relative;
        left: 70%;
        width: 25%;
    }
}

@media (max-width: 1200px) {
    .image {
        position: relative;
        left: 70%;
        width: 25%;
    }
}

@media (max-width: 992px) {
    .image {
        position: relative;
        left: 69%;
        width: 30%;
    }
}

@media (max-width: 768px) {
    .image {
        position: relative;
        left: 60%;
        width: 35%;
    }
}

@media (max-width: 576px) {
    .image {
        position: relative;
        left: 30%;
        width: 50%;
    }
}
